/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
ActionBar {
    color: white;
    background-color: #EE2933;
}
RadSideDrawer {
    padding: 0;
    margin: 0;
}
RadSideDrawer StackLayout Button {
    margin: 0px;
    padding: 0px;
}
RadSideDrawer StackLayout Label {

    text-align: left;
    margin: 15px 0px 5px 15px;
}
.container Label{
    padding-left: 10;
    margin-left: 0;
    margin-top:10;
    padding-bottom: 10;
    border-color: #D9D9D9;
    border-width: 0 0 1 0;
}

.container Image{
    width: 30px;
}
/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
.profile {
    background-color: #EE2933;
}
.profile Image {
    margin-left: 15px;
    border-radius: 50px;
}