.card-view{
    background-color: white;
    margin: 10;
    padding: 8;
}
.tienda{
    color:#000000;
    font-size: 14;
    font-weight: normal;
    text-align: left;
}
.header{
    color:#484848;
    font-size: 11;
}
.texto{
    color:#484848;
    font-size: 10;
    height: 20;
}
.texto-2{
    color:#484848;
    font-size: 11;
    height: 20;
}
.group-1{
    height: 15;
    line-height: normal;
}
.separator{
    background-color: #E7E7E7;
    margin: 0;
    margin-top: 3;
    margin-left: 15;
    margin-right: 15;
}
.mt-5{
    margin-top: 5;
    top: 5;
}
.mt-10{
    margin-top: 10;
    top: 10;
}
.mt-15{
    margin-top: 15;
    top: 15;
}
.mr-5{
    margin-right:5;
}
.mr-10{
    margin-right:10;
}
.mr-15{
    margin-right:15;
}
.mt-25{
    margin-top: 25;
    top: 25;
}
.mb-5{
    margin-bottom: 5;
    bottom: 5;
}
.mb-10{
    margin-bottom: 10;
    bottom: 10;
}
.mb-15{
    margin-bottom: 15;
    bottom: 15;
}
.mb-25{
    margin-bottom: 25;
    bottom: 25;
}
.pb-10{
    padding-bottom: 10;
}
.pb-20{
    padding-bottom: 20;
}
.al_left{
    text-align: left;
}
.al_center{
    text-align: center;
}
.al_right{
    text-align: right;
}