StackLayout{
    vertical-align: center;
}

Label{
    padding: 0;
    margin:0;
    text-align: center;
}

.titulo{
    font-weight: bold;
    color:#223D98;
}

.contenido{
    font-weight: 500;
}

.bancarias{
    color: #fff;
    font-weight: bold;

}

.hoy-titulo{
    color: #EE2933;
    font-weight: bold;
}

.hoy-contenido{
    color:#EE2933;
}

.puntos{
    font-weight: 200;
}
