<GridLayout rows="*" height="100%" width="100%">
    <TabView #element [(ngModel)]="selectedIndex">
        <GridLayout width="100%" height="100%" *tabItem="{title: 'FÍSICOS'}">
            <StackLayout row="0">
                <ListView [items]='vales'>
               <template let-item='item'>
                   <GridLayout style="background-color: #EAEAEA">
                       <GridLayout *ngIf="item.estado == 'Cobrado'" columns="55,*,*" rows="55,auto,auto,auto,auto,auto,auto,auto" class="cobrado">
                           <!--<Button text="CL" row="0" col="0" backgroundColor="#EE2933" style="border-radius:100;color:white;margin:0px 0px 0px 15px;padding:0;width: 100%"></Button>-->
                           <GridView row="0" col="0" style="border-radius: 30px;background-color:#EE2933;" height="55" width="55">
                               <Label class="label-suc" text="CL" height="55" width="55" style="color: white;font-weight: bold;border-radius: 30;text-align: center;vertical-align: center;background-color:#EE2933;"></Label>
                           </GridView>
                           <Label class="cobrado-label" text="{{item.folio}}" row="0" col="1" style="font-size: 18px;font-weight: bold;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="{{'$'+item.importe}}" row="0" col="2" style="font-size: 18px;font-weight: bold;text-align: right;"></Label>
                           <Label class="cobrado-label" text="Cliente" row="1" col="1"></Label>
                           <Label class="cobrado-label" text="{{item.subcliente}}" row="1" col="2" style="font-weight: bold;text-align: right;"></Label>
                           <Label class="cobrado-label" text="Fecha Asignado" row="2" col="1"></Label>
                           <Label class="cobrado-label" text="{{item.fecha_asignada | date: 'dd MMM yyyy'}}" row="2" col="2" style="font-weight: bold;text-align: right"></Label>
                           <Label class="cobrado-label" text="Persona Autorizada" row="3" col="1"></Label>
                           <Label class="cobrado-label" text="José Luis Camacho" row="3" col="2" style="font-weight: bold;text-align: right"></Label>
                           <Label class="cobrado-label" text="Fecha de Compra" row="4" col="1"></Label>
                           <Label class="cobrado-label" text="{{item.fecha_compra | date: 'dd MMM yyyy'}}" row="4" col="2" style="font-weight: bold;text-align: right"></Label>
                           <Label class="cobrado-label" text="Lugar de Compra" row="5" col="1"></Label>
                           <Label class="cobrado-label" text="{{item.tienda}}" row="5" col="2" style="font-weight: bold;text-align: right"></Label>
                           <Label class="cobrado-label" text="Pago Quincenal" row="6" col="1"></Label>
                           <Label class="cobrado-label" text="{{'$'+item.pago_quincenal}}" row="6" col="2" style="font-weight: bold;text-align: right"></Label>
                           <GridLayout row="7" col="0" colSpan="3" style="background-color: #223D98;margin: 10px 0px 0px 0px;padding: 5px 15px 5px 0px; color: white;">
                               <GridLayout columns="auto,auto,auto,*" rows="auto" style="margin: 0;padding: 0">
                                   <Label class="cobrado-label" text="{{item.estado}}" row="0" col="0" style="font-weight: bold" horizontalAlignment="center" verticalAlignment="center"></Label>
                                   <Label class="cobrado-label" text="1 de 8" row="0" col="1" horizontalAlignment="right" verticalAlignment="center"></Label>
                                   <Label class="cobrado-label"  text="30 Oct 2016" row="0" col="2" horizontalAlignment="right" verticalAlignment="center"></Label>
                                   <GridLayout row="0" col="3" style="width: 100%">
                                       <Image src="~/assets/misVales_r.png" stretch="none" horizontalAlignment="right" verticalAlignment="center"></Image>
                                   </GridLayout>
                               </GridLayout>
                           </GridLayout>
                       </GridLayout>
                       <GridLayout *ngIf="item.estado == 'Recibido'" columns="55,*,*" rows="55,auto,auto,auto,auto,auto,auto,auto" class="cobrado">
                           <!--<Button text="CL" row="0" col="0" backgroundColor="#EE2933" style="border-radius:100;color:white;margin:0px 0px 0px 15px;padding:0;width: 100%"></Button>-->
                           <GridView row="0" col="0" style="border-radius: 30px;background-color:#EE2933;" height="55" width="55">
                               <Label class="label-suc" text="CL" height="55" width="55" style="color: white;font-weight: bold;border-radius: 30;text-align: center;vertical-align: center;background-color:#EE2933;"></Label>
                           </GridView>
                           <Label class="cobrado-label" text="{{item.folio}}" row="0" col="1" style="font-size: 18px;font-weight: bold;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="{{'$'+item.importe}}" row="0" col="2" style="font-size: 18px;font-weight: bold;text-align: right;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="Cliente" row="1" col="1" textWrap="true"></Label>
                           <Label class="cobrado-label" text="NA" row="1" col="2" style="font-weight: bold;text-align: right;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="Fecha Asignado" row="2" col="1" textWrap="true"></Label>
                           <Label class="cobrado-label" text="NA" row="2" col="2" style="font-weight: bold;text-align: right" textWrap="true"></Label>
                           <GridLayout row="7" col="0" colSpan="3" style="background-color: #757575;margin: 10px 0px 0px 0px;padding: 5px 15px 5px 0px; color: white;" textWrap="true">
                               <GridLayout columns="auto,auto,auto,*" rows="auto" style="margin: 0;padding: 0">
                                   <Label class="cobrado-label" text="NO ASIGNADO" row="0" col="0" style="font-weight: bold" horizontalAlignment="center" verticalAlignment="center"></Label>
                               </GridLayout>
                           </GridLayout>
                       </GridLayout>
                       <GridLayout *ngIf="item.estado == 'Asignado'" columns="55,*,*" rows="55,auto,auto,auto,auto,auto,auto,auto" class="cobrado">
                           <!--<Button text="CL" row="0" col="0" backgroundColor="#EE2933" style="border-radius:100;color:white;margin:0px 0px 0px 15px;padding:0;width: 100%"></Button>-->
                           <GridView row="0" col="0" style="border-radius: 30px;background-color:#EE2933;" height="55" width="55">
                               <Label class="label-suc" text="CL" height="55" width="55" style="color: white;font-weight: bold;border-radius: 30;text-align: center;vertical-align: center;background-color:#EE2933;"></Label>
                           </GridView>
                           <Label class="cobrado-label" text="{{item.folio}}" row="0" col="1" style="font-size: 18px;font-weight: bold;" textWrap="true" ></Label>
                           <Label class="cobrado-label" text="{{'$'+item.importe}}" row="0" col="2" style="font-size: 18px;font-weight: bold;text-align: right;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="Cliente" row="1" col="1" textWrap="true"></Label>
                           <Label class="cobrado-label" text="{{item.subcliente}}" row="1" col="2" style="font-weight: bold;text-align: right;" textWrap="true"></Label>
                           <Label class="cobrado-label" text="Fecha Asignado" row="2" col="1" textWrap="true"></Label>
                           <Label class="cobrado-label" text="{{item.fecha_asignada | date: 'dd MMM yyyy'}}" row="2" col="2" style="font-weight: bold;text-align: right" textWrap="true"></Label>
                           <GridLayout row="7" col="0" colSpan="3" style="background-color: #EE2933;margin: 10px 0px 0px 0px;padding: 5px 15px 5px 0px; color: white;">
                               <GridLayout columns="auto,auto,auto,*" rows="auto" style="margin: 0;padding: 0">
                                   <Label class="cobrado-label" text="ASIGNADO" row="0" col="0" style="font-weight: bold" horizontalAlignment="center" verticalAlignment="center" textWrap="true"></Label>
                               </GridLayout>
                           </GridLayout>
                       </GridLayout>
                   </GridLayout>
               </template>
           </ListView>
       </StackLayout>

    </GridLayout>
    <GridLayout *tabItem="{title: 'ELECTRÓNICOS'}" >

    </GridLayout>
</TabView>